* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  padding: 0.5em;
  border: none;
  background-color: black;
  font-family: sans-serif;
  touch-action: manipulation; /* disable double-tap action (mishandled on font-size changes) */
}

/* ==================== Safari Specials ==================== */

input:disabled , textarea:disabled {
  -webkit-appearance: none;
  opacity: 1;
}

/* ==================== Generic classes ==================== */

.black-white {
  color: black;
  background-color: white;
}

.white-black {
  color: white;
  background-color: black;
}

.yellow-blue {
  color: yellow;
  background-color: #000050;
}

/* ==================== Button Colors ==================== */

button.expand {
  color: black;
  background-color: #FFC0C0;
}

button.shrink {
  color: black;
  background-color: #80FFFF;
}

button.func {
  color: black;
  background-color: #80FF80;
}

button.config {
  color: black;
  background-color: #FFFF80;
}

/* ==================== Specific styles ==================== */

#text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#text-toolbar {
  height: 56px;
  margin: 0;
  padding: 0 0 4px 0;
  border: none;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

#text-toolbar button {
  width: 13vw; /* 7 buttons in the toolbar */
  margin: 0;
  padding: 2px;
  font-size: 30px; /* large enough on smartphones */
}

#text-content {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0 0.1em; /* side padding is to show caret at the head of the line */
  font-family: sans-serif;
  font-size: 36pt;
}

.rotate-forward {
  animation: rotation-forward 500ms forwards;
}

.rotate-backward {
  animation: rotation-backward 500ms forwards;
}

.weight-normal {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}

@keyframes rotation-forward {
  0% { transform:rotate(0deg) }
  100% { transform:rotate(180deg) }
}

@keyframes rotation-backward {
  0% { transform:rotate(180deg) }
  100% { transform:rotate(0deg) }
}

/* ==================== LigatureSymbols ==================== */

@font-face {
  font-family: 'LigatureSymbols';
  src: url('LigatureSymbols.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
